design/workflows/n8n-templates/new_listing_notification.json
{
  "name": "🏠 Sierra Estates — New Listing Auto-Notify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-listing-trigger",
        "options": {}
      },
      "id": "119e0758-c0b8-4d57-b08e-17482811a001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/sierra-estates-prod/databases/(default)/documents:runQuery",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "structuredQuery",
              "value": "={\n  \"from\": [{\"collectionId\": \"buyer_profiles\"}],\n  \"where\": {\n    \"compositeFilter\": {\n      \"op\": \"AND\",\n      \"filters\": [\n        {\n          \"fieldFilter\": {\n            \"field\": {\"fieldPath\": \"preferred_compounds\"},\n            \"op\": \"ARRAY_CONTAINS\",\n            \"value\": {\"stringValue\": \"{{ $json.body.compound }}\"}\n          }\n        },\n        {\n          \"fieldFilter\": {\n            \"field\": {\"fieldPath\": \"max_budget\"},\n            \"op\": \"GREATER_THAN_OR_EQUAL\",\n            \"value\": {\"integerValue\": {{ $json.body.price }}}\n          }\n        }\n      ]\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "528f895c-9c98-4c91-bd21-28562811a002",
      "name": "Fetch Matched Buyers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Google OAuth Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter and rank matching scores\nconst listing = $('Webhook Trigger').item.json.body;\nconst buyers = items.map(i => i.json);\n\nconst matches = buyers.map(buyer => {\n  let score = 70; // Base score for compound match\n  const budgetDiff = buyer.max_budget - listing.price;\n  if (budgetDiff > 0) {\n    score += Math.min(20, Math.floor(budgetDiff / 100000));\n  }\n  return {\n    json: {\n      buyer_name: buyer.name,\n      buyer_phone: buyer.phone,\n      buyer_email: buyer.email,\n      match_score: score,\n      listing_title: listing.title,\n      listing_price: listing.price,\n      listing_url: `https://sierra-estates.vercel.app/listings/${listing.id}`\n    }\n  };\n}).filter(m => m.json.match_score >= 80);\n\nreturn matches;"
      },
      "id": "cf6d425b-fb75-47e2-895c-3c811211a003",
      "name": "Match Ranking Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.buyer_phone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": "={\n  \"name\": \"new_listing_notify\",\n  \"language\": {\"code\": \"ar\"},\n  \"components\": [\n    {\n      \"type\": \"body\",\n      \"parameters\": [\n        {\"type\": \"text\", \"text\": \"{{ $json.buyer_name }}\"},\n        {\"type\": \"text\", \"text\": \"{{ $json.listing_title }}\"},\n        {\"type\": \"text\", \"text\": \"{{ $json.listing_price }} EGP\"}\n      ]\n    }\n  ]\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "8fa8fb5c-9c88-4c91-bd21-28562811a004",
      "name": "Send WhatsApp Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "WhatsApp Cloud API Token"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": " concierge@sierraestates.com",
        "toEmail": "={{ $json.buyer_email }}",
        "subject": "=🔥 New Matching Listing: {{ $json.listing_title }}",
        "html": "=<h3>Hello {{ $json.buyer_name }},</h3>\n<p>We found a new property that perfectly matches your investment criteria:</p>\n<ul>\n  <li><strong>Listing:</strong> {{ $json.listing_title }}</li>\n  <li><strong>Price:</strong> {{ $json.listing_price }} EGP</li>\n  <li><strong>Match Score:</strong> {{ $json.match_score }}%</li>\n</ul>\n<p><a href=\"{{ $json.listing_url }}\" style=\"padding: 10px 20px; background: #c5a880; color: #fff; text-decoration: none; border-radius: 5px;\">View Property Details</a></p>"
      },
      "id": "9fa8fb5c-9c88-4c91-bd21-28562811a005",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSendgrid",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "credentials": {
        "sendgridApi": {
          "id": "3",
          "name": "SendGrid Production Key"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Matched Buyers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Matched Buyers": {
      "main": [
        [
          {
            "node": "Match Ranking Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Ranking Logic": {
      "main": [
        [
          {
            "node": "Send WhatsApp Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
